body {
	background-size: 100%;
	background-attachment: fixed;	
}
.timers {
	text-align: center;
} 
.timers h1 {
	color: white;
}
.top-crewOrder {
	background-color: rgba(255, 255, 255, .6);
	border-radius: 6px;
	border: 2px solid black;
	margin-top: 15px;	
}
.top-crewOrder h3 {
	margin-top: 10px;
}
#go {
	font-size: 50px;	
	width: 75%;
	margin: 40px auto 20px;			
}
#reset, #next {	
	width: 35%;
}
#setup-button {
	width:60%
}

a, a:hover, a:focus {
	color: black;
	outline: none;
}
button:focus, button:active, .btn:focus, .btn:active {
	outline: none !important;
}
.on-deck {
	background-color: rgba(200, 200, 200, .3);
	padding-right: 20px;
	padding-left: 20px;		
}
.on-deck h1 {
	margin: 5px;
	height: 89px;
}
.on-deck .timer {
	font-size: 75px;		
}
#clock {
	background-color: rgba(255, 255, 255, .6);
	height: 220px;
	width: 220px;
	border-radius: 50%;
	border: 3px solid black;
	font-weight: bold;
	margin-top: 20px;
}
#clock p {
	font-size: 50px;
	margin-top: 20px;
	padding-top: 55px;
	color: black;	
}
.timers-row {
	color: white;
}
.timers-row h1 {
	margin-top: 5px;
}
.timers-row h2 {	
	margin-top: 0;
	margin-bottom: 0;
}
.timer {
	background-color: black;
	color: white;
	font-size: 120px;
	width: 100%;
	text-align: center;
}
.three-timers .timer {
	font-size:100px;
}
.red-timer {
	background-color: #c9302c;
	font-weight: bold;	
}
.fade-red {
	animation-duration: 3s;
	animation-name: fadeRed;
}  
  @keyframes fadeRed {
	from {
	  background-color: #c9302c; 
	}
  
	to {
	  background-color: black;
	}
  }

.crew {
	font-size: 45px;
	font-weight: bold;
}
.crew-div h1 {
	height: 50px;
}
.timers .btn {
	margin: 5px;
}

/* Setup */
.setup-container {
	margin-top: 50px;
	background-color: rgba(255,255,255,.5);
	color: black;	
}
input {
	margin-top: 5px;
}
#setup h1 {	
	font-weight: bold;
	margin-bottom: 10px;
}
label {
	font-size: medium;
	font-weight: 400;
}
.crew-setup form {
	margin: 0 auto;
	width: 60%;
}
.crew-order {
	font-size: 25px;	
}
.input-minutes{
	width: 80px !important;	
    padding-top: 5px;
    padding-bottom: 5px;
    height: 36px;	
}
#setup button {
	margin: 10px;
	margin-top: 20px;
	font-size: medium;
}
.top-btn {
	margin: 15px 0;
}

@media(max-width: 992px) {	
	.timer {
		font-size: 100px;
	}
	.three-timers .timer {
		font-size: 80px;
	}
}