body {
	background-size: 100%;
	background-attachment: fixed;	
}
.timers {
	text-align: center;
}

/* ----- Buttons ----- */
.btn {
	color: black;
	border: 1px solid black;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font-size: medium;	
	margin: 5px;
}
#go {
	font-size: 50px;
	color: black;	
	width: 75%;
	margin: 20px auto 10px;	
	border: 1px solid black;
	border-radius: 4px;	
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;			
}
#reset, #next {	
	width: 35%;
}
#reset:hover {	
	background-color: rgb(156, 24, 24);
	color: white;
}
#setup-button {
	width: 28%;	
}
#top {	
	border: 2px solid black;
}
.btn:hover {
	background-color: #999;
	color: black;	
}
.orng {
	background-color: 	rgba(255,145,0, .6);
	
}
.orng:hover {
	background-color: 	rgb(255, 174, 0);
}
a, a:hover, a:focus {
	color: black;
	outline: none;
}
button:focus, button:active, .btn:focus, .btn:active {
	outline: none !important;
}

/* Timers */
.timer {
	background-color: black;	
	color: white;
	font-size: 120px;
	width: 100%;
	text-align: center;
	line-height: 1.2;
}
.timers h1 {
	color: black;
	margin-top: 5px;
}
.on-deck .timer {
	font-size: 90px;	
}
.three-timers .timer {
	font-size:100px;
}
.red-timer {
	background-color: #c9302c;
	font-weight: bold;	
}
.fade-red {
	animation-duration: 10s;
	animation-name: fadeRed;
}  
  @keyframes fadeRed {
	from {
	  background-color: #c9302c; 
	}
  
	to {
	  background-color: black;
	}
  }

/* ----- Clock row ----- */
.clock-row {
	margin-top:
	20px;
}
.on-deck h1 {
	margin-bottom: 5px;
}
#clock {
	background-color: rgba(255, 255, 255, .6);
	height: 210px;
	width: 210px;
	border-radius: 50%;
	border: 3px solid black;		
}
#clock p {
	font-size: 50px;	
	padding-top: 67px;
	color: black;	
}
/* .top-crewOrder {
	background-color: rgba(255, 255, 255, .6);
	border-radius: 6px;
	border: 2px solid black;
	margin-top: 15px;	
}
.top-crewOrder h3 {
	margin-top: 10px;
} */

/* ----- Timers Row ----- */
.timers-row {
	background-color:  rgba(255, 255, 255, .5);
	border: 2px solid black;
	border-radius: 3px;
	margin-top:20px;
	padding: 10px;
}
.timers-row h2 {
	font-weight: bold;
	color: black;	
	margin-top: 0;
	margin-bottom: 0;
}
.two-timers {
	padding: 8px 30px;
}

/* ----- Crews ----- */
.crew {
	font-size: 45px;
	font-weight: bold;
}
.crew-div h1 {
	height: 50px;
}

/* ----- Setup ----- */
.setup-container {
	margin-top: 50px;
	background-color: rgba(255,255,255,.7);
	color: black;
	border: 2px solid black;
	border-radius: 3px;	
}
input {
	margin-top: 5px;
}
#setup h1 {	
	font-weight: bold;
	margin-bottom: 10px;
}
#setup h4 {
	font-size: 20px;
}
label {
	font-size: medium;
	font-weight: 400;
}
.crew-setup form {
	margin: 0 auto;
	width: 60%;
}
.crew-order {
	font-size: 25px;	
}
.crew-setup .crew-order {
	margin-bottom: 30px;
}
.input-minutes{
	width: 80px !important;	
    padding-top: 5px;
    padding-bottom: 5px;
    height: 36px;	
}
#setup button {
	margin: 10px;
	margin-top: 20px;
	font-size: medium;
}
.top-btn {
	margin: 15px 0;
}

/* ----- @media ----- */
@media(max-width: 992px) {	
	.timer {
		font-size: 100px;
	}
	.on-deck .timer {
		font-size: 80px;	
	}
	.three-timers .timer {
		font-size: 80px;
	}
	#reset, #next, #setup-button {	
		width: 50%;
	}
}
@media(max-width: 1200px) {
	.deckCrew {
		font-size: 35px;
	}
	.on-deck h1 {
		font-size: 30px;
	}
}